<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/js/bootstrap.min.js">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Nova Marechal</title>
</head>

<body>
    <div>
        <div class="row box_main">
            <div class="box_banner col-md-8">
                <img src="../public/img/Banner---Nova-Marechal/Banner---Nova-Marechal.png" alt="bannerNovaMarechal" style="height: 77.5vh;">
            </div>
            <div class="box_form col-md-4">
                <div class="form">
                    <h3 style="text-align: center;">ENVIE SUA PROPOSTA</h3>
                    <label>Nome</label>
                    <input type="text" name="" id="" class="form-control">
                    <div class="row">
                        <div class="col">
                            <label>Telefone</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                        <div class="col">
                            <label>Email</label>
                            <input type="text" name="" id="" class="form-control">
                        </div>
                    </div>
                    <label for="">Mensagem</label>
                    <textarea name="" placeholder="Descreva aqui sua proposta de compra" class="form-control" id="" cols="30" rows="5"></textarea>
                    <br>
                    <div style="text-align: center;">
                        <button class="btn btn-custom" style="align-items: center;">Enviar</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="page-footer box_footer">
            <div class="container">
                <div class="row">
                    <div class="row element_footer col">
                        <div>
                            <img src="../public/img/email.png" alt="email">
                        </div>
                        <div>
                            <p>ENVIE SUA PROPOSTA</p>
                        </div>
                    </div>
                    <div class="row element_footer col">
                        <div>
                            <img src="" alt="whatsapp">
                        </div>
                        <div>
                            <p>FALE PELO WHATSAPP</p>
                        </div>
                    </div>
                    <div class="row element_footer col">
                        <div>
                            <img src="../public/img/phone-call.png" alt="telefone">
                        </div>
                        <div>
                            <p>LIGUE AGORA PARA <strong>(81) 9999.9999</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>